@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* resets  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: "Roboto", serif;
    --secondary-font: "Playfair Display", serif;
    --main-font: "Lobster", serif;

}

/* common style  */
.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.active {
    font-weight: bolder !important;
    color: #000 !important;
}

.story_border {
    padding: 4px;
    background: linear-gradient(135deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);

}

.profile_img-container {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    background: rgb(255, 255, 255, 1);

}

/* side bar section start  */
.side_bar {
    width: 17vw;
    border-right: 1px solid rgba(128, 128, 128, 0.295);
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

}

.side_bar .side_bar__logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    /* height: 5vh; */
    width: 100%;
    font-weight: 100;

}

.side_bar .side_bar__logo .logo {
    margin: 0 20px;
    margin-top: 30px;
    font-family: var(--main-font);
    text-align: center;

}

.nav {
    height: 90vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.nav ul li,
.nav ul li {
    list-style: none;
    margin: 8px 4px;
    padding: 5px 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    width: 16vw;

}

.nav ul li:hover {
    background: whitesmoke;
    border-radius: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: 17px;
    font-family: var(--primary-font);
}

.nav ul li a i,
.nav ul li a img {
    font-size: 1.4rem;
    margin-right: 15px;
}

.circle_img {
    border-radius: 50%;
    display: inline-block;
    border: 2px solid white;
}

.nav_profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav_profile img {
    width: 30px;
    border: none !important;
}

.burger {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.burger span {
    background: #000;
    padding: 1px 10px;
    margin-top: 5px;
}

.bottom {}

/* nav bar section end  */

/* feed section start  */

.feed {
    width: 45vw;
    height: 100vh;
    margin: 30px 50px;
    margin-left: 22vw;
}

.feed_type {
    display: flex;
    justify-content: start;
    align-items: center;
}

.feed_type .feed_type-one,
.feed_type .feed_type-two {
    padding: 5px;
    font-family: var(--primary-font);
    color: rgba(128, 128, 128, 0.616);
    font-size: 16px;
}

hr {
    margin: 8px 5px;
    /* background: rgba(128, 128, 128, 0); */
    color: rgba(168, 166, 166, 0);
}

/* stories section start  */
.stories {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: start;
    align-items: center;
    margin: 20px 0;
    gap: 0;
}

.story_img-container {
    width: 60%;
    border-radius: 50%;
    padding: 2px;
    background: linear-gradient(135deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.stories .story img {
    width: 95%;
    height: 95%;
    border: 2px solid white;
    object-fit: cover;

}

.story {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.story p {
    font-size: 0.7rem;
    font-family: var(--primary-font);
    font-weight: 400;
    color: #000;
}

/* cards section start  */
.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 40px;


}

.card .card_header {
    width: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.card_profile_container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;

}

.card_profile {
    width: 33px;
    height: 33px;
}

.card_profile-name {
    margin: 7px;
    font-family: var(--primary-font);
    font-weight: 500;
}

.card_profile-name span {
    color: gray;
    font-weight: 500;
    font-size: 0.9rem;
    font-family: sans-serif;
}

.card_header .card_menu {
    font-size: 1.5rem;
    cursor: pointer;
}

.card .card-img-container {

    width: 500px;
    height: 80vh;
    background-color: #000;
    overflow: hidden;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card .card-img-container img {
    width: 100%;


}

/* card footer  */
.card_footer {
    margin: 10px 0;


}

.card_footer .card_interactions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.card_group-one {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.card_group-one span,
.card_group-two span {
    font-size: 1.5rem;
    margin-right: 7px;
    padding: 0 5px;
    cursor: pointer;
}

.card_group-one span:hover,
.card_group-two span:hover {
    color: gray
}

.card_like-comment {
    margin: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}

.card_like-comment .likes {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.9rem;
    padding: 3px 5px;
}

.card_like-comment .comment {
    width: 100%;
    padding: 10px 5px;
    font-family: var(--primary-font);
    font-size: 0.9rem;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-weight: 300;
}

/* right side profile and suggestion section  */
aside.right_side {
    margin-top: 3rem;
    margin-left: 2rem;
    width: 20vw;
}

aside .profile {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

aside .profile .btn-switch {
    border: none;
    background: transparent;
    font-family: var(--primary-font);
    font-weight: 500;
    color: #0095f6;
    cursor: pointer
}

aside .profile .btn-switch:hover {
    color: rgb(10, 76, 131);
}

/* suggestion section  */
.suggestion {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 15px;
    gap: 10px;
}

.suggestion .suggestion_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.suggestion_header h4 {
    font-family: sans-serif;
    color: gray;
    font-size: 0.9rem;
}

.suggestion_header p {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 0.8rem;
}

.aside_profile {
    height: 40px;
    width: 40px;
}

.suggestion .card_profile-name span {
    font-size: 0.8rem;
}

footer {
    width: 100%;
    margin: 40px 0;
    padding: 5px;
}

footer a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.75rem;
    color: rgba(128, 128, 128, 0.473);
}

footer p {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.8rem;
    color: rgba(128, 128, 128, 0.473);
    margin-top: 15px;
    text-transform: uppercase;
}